.gradle/
build/
run/
run-data/
out/
.idea/
*.iml
*.ipr
*.iws
src/generated/resources/.cache/

*.log
hs_err_pid*.log
migration-backup-specialsnowballs/

*.log
hs_err_pid*.log
migration-backup-specialsnowballs/
